.divTable {
	display: table;
	width: 100%;
}

.divTableRow {
	display: table-row;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}

.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: smaller;
	font-variant: small-caps;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}

.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}

.divTableBody {
	display: table-row-group;
}

img.active {
	width: 30%;
	height: 30%;
	margin-left: auto;
	margin-right: auto;
	border-style: outset;
	border-width: 5px;
	border-color: green;
}

img.inactive {
	width: 30%;
	height: 30%;
	margin-left: auto;
	margin-right: auto;
	-webkit-filter: grayscale(100%);
}