table.Gameboard {
    table-layout: auto;
    background-color: dimgray;
    border-collapse: collapse;
    border-style: solid;
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 0px;
}

table.GameBoard td, table.GameBoard th {
    padding: 0px 0px 0px 0px;
    border:  5px solid dimgray;
    border-style: solid;
}

.tblRoom, table.Gameboard{
    padding: 0px 0px 0px 0px;
    background-color: AliceBlue;
    width:  100px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-variant: small-caps;
}

.tblHallway_V, table.Gameboard{
    padding: 0px 0px 0px 0px;
    background-color: lightgray;
    width:  30px;
    height: 100px;
}

.tblHallway_H, table.Gameboard{
    padding: 0px 0px 0px 0px;
    background-color: lightgray;
    width:  100px;
    height: 30px;
}

.tblDeadSpace, table.Gameboard{
    padding: 0px 0px 0px 0px;
    background-color: dimgray;
    border-color: dimgray;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: 35%;
    float: center;
}