.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
	
	margin-left: auto;
    margin-right: auto;
	
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    font-variant: small-caps;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

img.active {
    width:   100%;
    height:  100%;
    margin-left: auto;
    margin-right: auto;
}

img.inactive {
    width:   100%;
    height:  100%;
    margin-left: auto;
    margin-right: auto;
   -webkit-filter: grayscale(100%);
}

.button{
    background-color:green; 
    color: whitesmoke;
    width:100px;
    padding: 15px 32px;
}

p{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    
    color: navy;
    
    padding: 25px 25px 25px 25px;
    
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}