.divTable{
	display: table;
	width: 100%;
}

.divTableRow {
	display: table-row;
	text-align: center;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}

.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
	
	margin-left: auto;
    margin-right: auto;
	
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    font-variant: small-caps;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}

.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

img {
    width:   20%;
    height:  20%;
    margin-left: auto;
    margin-right: auto;
    border-style: double;
    border-width: 5px;
}

textarea{
    background-color:darkgray;
    color: green;
}

button {
    width:   140px;
    height:   30px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    font-variant: small-caps;
}

table{
    text-align: left;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    font-variant: small-caps;
    
    font-size: 15px;
    font-weight: bold;
    color: navy;
    border-left: 2px solid #D0E4F5;
}